<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style2.css') }}">
    </head>
    <body>
    <table>
        <tr>
                <th align="left">Date</th>
                <th align="left">Time</th>
                <th>Location</th>
                <th>Student</th>
                <th>Notes</th>
        </tr>
          {% for i in conf %}
                <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[4] }}</td>
                </tr>
        {% endfor %}
</table>
    </body>